
header{
    width: 100%;
    height: 400px; 
    background: url('../assets/images6.jpeg');
    background-size: cover;
}
header > div{  
    width: 100%;
    height: 400px;
    background: rgba(2, 2, 2, 0.8);  
}
/*---------------------------------------*/
main{
    width: 100%;
    height: 800px; 
    background: url('../assets/images3.jpeg');
    background-size: cover;
}
main > div{
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
}
main > div > h2{
    color: #5e2129;
    font-size: 2.2rem;
    padding: 25px 0 20px 150px;
}
main > div > h3{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    border-top: 2px dashed #7a7676;
    color: #5e2129;
    font-size: 1.8rem; 
}
main > div > div{
    width: 90%;
    height: 220px;
    margin: 0 auto;
}
figure{
    float: left;
}
figure > img{
    width: 80%;
    background: #666;
    margin: 0 10px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: #999 5px 5px 10px;
    transition: transform 0.5s ease-in-out 0.1s;
}
figure > img:hover{
    transform: scale(1.5);
}
figure > figcaption{
    width: 80%;
    margin: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

